*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    margin: 30 auto;
    height: 400px;
    background-color: bisque;
}

#office{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    border: 1px solid black;
}

li {
    font-size: 1rem;
    margin: 10px;
    
}